<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0.0.1</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>0.0.2</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>0.0.3</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>0.1.5</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>0.2.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>0.2.5</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
	<key>1.0.0</key>
	<string>https://github.com/rsyncOSX/rcloneosx/releases/download/v1.1.0/rcloneosx.dmg</string>
</dict>
</plist>
